{% extends 'home.html' %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <div class="container-fluid">
        <div class="d-sm-flex justify-content-between align-items-center mb-4 px-4">
            <h3 class="text-dark mb-0"><img class="border rounded-circle img-profile" src="{{ data.photo }}"
                                            style="width: 160px;height: 160px;">&nbsp;
                <strong>{{ data.student.first_name }}&nbsp;{{ data.student.last_name }}</strong></h3>


            <div class="d-flex justify-content-start">
                <div class="card text-white bg-info shadow">
                    <div class="card-body">
                        <p class="m-0">Mail</p>
                        <a href="mailto:cemozan@iyte.edu.tr"><p
                                class="text-white-50 small m-0">{{ data.student.email }}</p></a>
                    </div>
                </div>

                <div class="card text-white bg-primary shadow">
                    <div class="card-body">
                        <p class="m-0">GPA</p>
                        <p class="text-white-50 small m-0">{{ data.gpa }}</p>
                    </div>
                </div>

            </div>


        </div>
        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="text-primary font-weight-bold m-0">Courses that Student Take</h6>
                    </div>
                    <ul class="list-group list-group-flush">

                        {% for course in data.courses %}
                            <li class="list-group-item">
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <h6 class="mb-0"><strong>{{ course.name }} - {{ course.lecturer }}</strong></h6>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}

                    </ul>
                </div>
                <div class="card shadow">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="text-primary font-weight-bold m-0">Forms that are Filled by Student</h6>
                        </div>
                        <ul class="list-group list-group-flush">

                            {% for form in data.forms %}
                                <li class="list-group-item">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2 d-flex justify-content-between">
                                            <h6 class="my-auto"><strong>{{ form.form_name }}</strong><br></h6>

                                            <a href="" id="form{{ form.id }}" class="btn btn-primary btn-sm "><i
                                                    class="fas fa-file-download"></i></a>
                                            <script>

                                                var link = "/downloadfile" + "/" + "{{ data.student.id }}" + "/" + "{{ form.form_name }}";

                                                document.getElementById('form{{ form.id }}').setAttribute("href", link);
                                            </script>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-6 card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="text-primary font-weight-bold">Prerequisities</h6>
                </div>
                <ul class="list-group list-group-flush">

                    {% for prerequisite in data.prerequisites %}
                        <li class="list-group-item">
                            <div class="align-items-center no-gutters">
                                <div class="d-flex justify-content-between">
                                    <p class="mb-0 text-dark">
                                        <strong>{{ prerequisite.name }}</strong><br></p>
                                    {% if prerequisite.status == False %}
                                        <i class="far fa-times-circle mx-2 text-danger my-auto"></i>
                                    {% else %}
                                        <i class="far fa-check-circle mx-2 text-success my-auto"></i>
                                    {% endif %}

                                </div>
                            </div>
                        </li>
                    {% endfor %}


                </ul>
            </div>
        </div>
    </div>

















{% endblock %}

