{% extends 'home.html' %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert">
                    {{ message}}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

         <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container">
                    <h3 class="text-dark mb-4"></h3>
                </div>
                <div>
                    <div class="card-header">
                        <h3 class="">Forms</h3>
                        <a href="">File</a>
                    </div>
                    <div>
                        <h5 class="p-3">Select a file from below to display or upload or delete.</h5>
                    </div>
                </div><select id="select-forms" class="form-control d-inline" style="width: 350px;margin-left:5px">
                    <optgroup label="Select a Form Below">
                        <option id="selected" value="uploads\Scientific-Preparatory-Program-Course-Enrollment-Form-Form-BH.docx">Form BH</option>
                        <option value="uploads\Thesis-Advisor-and-Topic-Appointment-Form-Form-TD-1.docx">Form TD</option>
                        <option value="uploads\Course-Accreditation-Form-Form-DS.docx">From DS</option>
                        <option value="uploads\Registration-form-for-Courses-from-Other-Institutions-Form-DA.docx">Form DA</option>
                        <option value="uploads\Student-Leave-of-Absence-Form-Form-İ.docx">Form I</option>
                        <option value="uploads\Jury-Report-of-PhD-Qualifying-Exam-Results-Form-DY.docx">Form DY</option>
                        <option value="uploads\PhD-Qualifying-Exam-Decision-Form-for-Jury-Member-Attending-Exam-Online-DY-a.docx">Form DY-a</option>
                        <option value="uploads\Thesis-Monitoring-Committee-Proposal-Form-Form-TİK-1.docx">Form TIK</option>
                        <option value="uploads\Report-of-Thesis-Proposal-Defense-Exam-Results-Form-TO.docx">Form TO</option>
                        <option value="uploads\Thesis-Proposal-Defense-Exam-Decision-Form-for-Committee-Member-Attending-Meeting-Online-Form-TÖ-a.docx">Form TO-a</option>
                        <option value="uploads\Thesis-Monitoring-Committee-Meeting-Report-Form-Form-TİK-T.docx">TİK-T</option>
                        <option value="uploads\Thesis-Monitoring-Committee-Member-Attending-Online-Meeting-Report-Form-Form-TİK-T-a-2.docx">TİK-T-a</option>
                        <option value="uploads\Thesis-Defense-Jury-Appointment-Form-Form-TJ.docx">Form TJ</option>
                        <option value="uploads\Education-Evaluation-Form-for-Master’s-Students-Defending-their-Thesis-Form-TJ-a.docx">Form TJ-a</option>
                        <option value="uploads\Education-Evaluation-Form-for-PhD-Students-Defending-their-Thesis-Form-TJ-b.docx">Form TJ-b</option>
                        <option value="uploads\Thesis-Defense-Exam-Jury-Report-Form-Form-TS.docx">Form TS</option>
                        <option value="uploads\Scientific-Contribution-Jury-Opinion-Form-for-PhD-Students-Defending-their-Thesis-Form-TS-a.docx">Form TS-a</option>
                        <option value="uploads\Thesis-Defense-Exam-Decision-Form-for-Jury-Attending-Online-Form-TS-b-1.docx">Form TS-b</option>
                        <option value="uploads\Defense-Exam-Notification-Form-for-Students-Who-Have-Revised-Their-Thesis-Form-TJ-D.docx">Form TJ-d</option>
                        <option value="uploads\Thesis-Final-Copy-Submission-Deadline-Extension-Form-Form-ES.docx">Form ES</option>
                        <option value="uploads\Thesis-Final-Copy-Submission-Form-Form-TT.docx">Form TT</option>
                        <option value="uploads\Graduation-Report-Form-for-Master’s-Programs-without-ThesisForm-TZM.docx">Form TZM</option>
                        <option value="uploads\Jury-Invitation-Letter-Request-Form-Form-DM.docx">Form DM</option>
                        <option value="uploads\Request-Form-for-Appointment-with-Travel-Expenses-and-Allowance-Form-GD.docx">Form GD</option>
                    </optgroup>
                </select>

                <a class="btn btn-danger d-inline download-file" style="margin-left: 15px;"  href="">

                    Download File <i class="fas fa-file-download downloadButton"></i></a>

                    <br>
                <div class="mt-4">

                     <input type="file" style="margin-left: 50px;margin-top: 5px;">
                <button class="btn btn-primary submitButton border-white" type="button" style="background: #9a1220;" >Submit</button>
                <button class="btn btn-primary submitButton border-white" type="button" style="background: #9a1220;margin-left: 5px;">Delete</button>

                <a style="margin-left: 15px;" href="#"><i class="fas fa-file-download downloadButton" ></i></a>
                </div>


            </div>

         </div>
{% endblock %}