{% extends 'home.html' %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content" class="container-fluid px-4">
            <div>
                <h3 class="text-dark mb-4"></h3>
            </div>

            <div class="card-header">
                <h3 class="">Forms</h3>
            </div>
            <div>
                <p class="p-3">Select a file from below to display or upload or delete.</p>
            </div>

            <div class="mt-4">
                <form method="POST" enctype="multipart/form-data" action="/uploader">
                    <select name="form-name" id="select-forms" class="form-control d-inline" style="width: 350px;margin-left:5px">
                        <optgroup label="Select a Form Below">
                            {% for form in data.form_list %}
                                {% if form.form_type == 'Form BH' %}
                                    <option id="selected"
                                            value="Scientific-Preparatory-Program-Course-Enrollment-Form-Form-BH.docx">
                                        Form BH
                                    </option>
                                {% else %}
                                    <option value="{{ form.form_name }}">
                                        {{ form.form_type }}
                                    </option>
                                {% endif %}
                            {% endfor %}
                        </optgroup>
                    </select>

                    <a class="btn btn-danger d-inline download-file" style="margin-left: 15px;" href="">
                        Download Document <i class="fas fa-file-download downloadButton"></i></a>
                    <br>
                    <p class="ml-3 mt-3">Upload File</p>
                    <div class="form-group">

                        <input type="file" class="ml-3 uploadFile" name="file">
                        <p href="#" class="fileName d-inline ml-3 mr-5"></p>
                        <button {{ data.submit_status }} class="btn btn-primary submitButton btn-danger" type="submit">
                            Submit
                        </button>
                        <a href="#" class="btn btn-primary btn-danger deleteButton" type="button">
                            Delete
                        </a>

                        <a id="download-uploaded-file" disabled class="btn btn-danger d-inline showButton" href="">
                            Download Uploaded File <i class="fas fa-file-download downloadButton"></i></a>
                    </div>

                </form>


            </div>


        </div>


    </div>
{% endblock %}