{% extends 'home.html' %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

<div class="container-fluid">
        <div class="row">
          <div class="col-lg-8 mb-4">
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="text-primary font-weight-bold m-0">Student List</h6>
              </div>
              <ul class="list-group list-group-flush">



                  {% for student in data.student_list %}
                   <li class="list-group-item">
                  <div class="row align-items-center no-gutters">
                    <div class="col mr-2">

                        <a href="{{ url_for('main.display_student',id=student.id) }}" class="text-dark">


                      <h6 class="mb-0"><strong>{{ student.first_name }} {{ student.last_name }}</strong></h6><span class="text-xs">{{ student.email}}</span>
                             </a>
                    </div>

                  </div>
                </li>
                  {% endfor %}



              </ul>
            </div>
          </div>
        </div>


</div>














{% endblock %}

