{% extends 'home.html' %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert">
                    {{ message}}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
<div class="container">

    <form method="post" action="/updatepassword" class="w-25">
    <input class="form-control mt-2" type="password" name="current_password" placeholder="Current Password">
    <input  class="form-control mt-2" type="password" name="new_password" placeholder="New Password">
    <input class="form-control mt-2"  type="password" name="new_password2" placeholder="New Password Again">
    <button type="submit" class="btn btn-primary mt-2">Change Password</button>
    </form>

</div>


{% endblock %}